* {
    box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

nav a:hover {
    color: orange;
}

main {
    padding: 20px;
}

h1, h2 {
    color: black;
}

section {
    margin-bottom: 30px;
}

img {
    width: 70%;
    height: auto;
}

table {
    width: 70%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    
}

#footer a,
#footer a:link,
#footer a:visited {
  color: #ffffff;             
  text-decoration: none;       
  transition: color 0.18s ease;
}


#footer a:hover,
#footer a:focus,
#footer a:active {
  color: #ff7a00;              
  outline: none;
}
